*{
    box-sizing: border-box;
    margin: 0%;
}

html{
    background-color: #003459;
}

.spacingMarginTop{
    margin-top: 55px;
}

.mainYpadding{
    margin: 95px 0 0 0;
}

@media screen and (max-width: 425px) {
    .mainYpadding{
        margin-top: 125px;
    }
}

.carousel-img-size{
    filter: brightness(.5);
}

.carousel .carousel-item {
    height: 80vh;
  }
  
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    /* min-height: 500px; */
    min-height: 80vh;
}

.blueBolding{
    font-weight: bold;
    color: #00a7e1;
}

.home-grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 40px 1.5%;
    gap: 1%;
    justify-content: center;
}

.home-grid-item{
    text-align: center;
    padding: 3%;
    background-color: whitesmoke;
    transition: .5s;
}

.home-grid-item:hover{
    box-shadow: 10px 10px 10px #9da2ab;
}

@media only screen and (max-width: 426px) {
    .home-grid-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
}

/* about */

.about-us-background-img{
    width: 100%;
    height: 70vh;
    margin: 65px 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/tallBuildingsCiti.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .about-us-background-img{
        width: 100%;
        height: 50vh;
        margin: 65px 0;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/tallBuildingsCiti.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
}

.shadow2paragraph{
    box-shadow:  10px 10px 10px black;
}

/*end  about */

/* services section */
/* our service section */
.our-service-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 3%;
}

.servicesBackground{
    background-color: #003459;
    color: white;

}
.our-service-grid-item-h3-p{
    margin: 3%;
    padding: 3%;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .our-service-grid-container{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }

    .viremos-el-container{
        display: flex;
        flex-direction: column-reverse;
        
    }
}

/* .filterPhotoContainer{
    position: relative;
}

.positioningWhiteFilter{
    position: absolute;
    top: 20%;
    left: 58%;
}

@media screen and(max-width: 425px) {
    .positioningWhiteFilter{
        position: absolute;
        top: 20%;
        left: 58%;
    }
    
} */

.services-background-img{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/water\ lines.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .services-background-img{
        width: 100%;
        height: 50vh;
        margin: 65px 0;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/water\ lines.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
}

.shadow2img{
    box-shadow: 10px 10px 10px #001829;
}

.services-background-img-water-test{
    width: 100%;
    height: 50vh;
    /* margin: 25px 0; */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/water\ testing.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .services-background-img-water-test{
        width: 100%;
        height: 50vh;
        /* margin: 65px 0; */
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/water\ testing.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
}

/*end of our service section */


/* contact us */
.contact-us-background-img{
    width: 100%;
    height: 70vh;
    margin: 65px 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/womanDialingCellIphone224.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.centeringH2onDiv{
    height: 100%;
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .contact-us-background-img{
        width: 100%;
        height: 50vh;
        margin: 65px 0;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/womanDialingCellIphone224.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
}

.contact-us-form-information-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
}

.contact-us-section-form{
    display: flex;
    flex-direction: column;
}

.contact-us-section-form input{
    margin-bottom: 25px;
}

.contact-us-send-button{
    margin-bottom: 25px;
    height: 55px;
    font-family: squada;
    letter-spacing: 5px;
    font-size: 20px;
    background-color: white;
    transition: 1s;
}

.contact-us-send-button:hover{
    background-color: lightgrey;
}

@media screen and (max-width: 768px) {
    .contact-us-send-button{
        margin-bottom: 55px;
        height: 55px;
        font-family: squada;
        letter-spacing: 5px;
        font-size: 20px;
        background-color: lightgrey;
        /* transition: 1s; */
    }
    
    /* .contact-us-send-button:hover{
        background-color: lightgrey;
    } */
}

.contact-us-text-information{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

@media screen and (max-width: 768px) {
    .contact-us-form-information-main{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 10%;
    }
}

.iconCell::before{
    content: "☎";
}

.emailIcon::before{
    content: "📫";
}

/*end of contact us */

/* google maps section */
.google-maps-section{
    width: 100%;
    height: 40vh;
    background-color: rgb(234, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*end of google maps section */

/* social icons here */
.home-social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons-header{
    letter-spacing: 5px;
}

.home-social-icon-item{
    margin:44px;
    
}

.home-social-icon-item:hover{
    color: #00a7e1;
}

@media screen and (max-width: 425px) {
    .home-social-icon-item{
        margin: 24px;
    }
}

/* social icons end here */











