*{
    box-sizing: border-box;
    margin: 0%;
}

html{
    background-color: #003459;
}

.heading__night__blue{
    color: #191970;
}

.spacingMarginTop{
    margin-top: 55px;
}

.mainYpadding{
    margin: 95px 0 0 0;
}

@media screen and (max-width: 425px) {
    .mainYpadding{
        margin-top: 125px;
    }
}

.carousel-img-size{
    filter: brightness(.5);
}

.carousel .carousel-item {
    height: 80vh;
  }
  
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    /* min-height: 500px; */
    min-height: 80vh;
}

.blueBolding{
    font-weight: bold;
    color: #00a7e1;
}













